/vendor/
/node_modules/
/.env
/.env.*.php
/.vscode/
/.idea/
/storage/*.key
/public/storage
/storage/logs/*.log
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache/*.php
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.phpunit.result.cache
/.php_cs.cache
